<div class="openpokes">
    <img src="../{{pokemon.pokeimagepath}}" class="img-alignment"><br>
    <input type="text" class="inputBoxRead" value="{{pokemon.name}}" readonly><br><br>
    <label>Type:</label><br><br>
    <div class="wrap-input100">
    <textarea class="input100" readonly>{{pokemon.type}}</textarea></div><br>
    <label>Max_atk:</label><br><br>
    <div class="wrap-input100">
    <textarea class="input100" readonly>{{pokemon.max_atk}}</textarea></div><br>
    <label>Max_def:</label><br><br>
    <div class="wrap-input100">
    <textarea class="input100" readonly>{{pokemon.max_def}}</textarea></div><br>
    <label>Max_hp:</label><br><br>
    <div class="wrap-input100">
    <textarea class="input100" readonly>{{pokemon.max_hp}}</textarea></div><br>
    <label>Max_cp:</label><br><br>
    <div class="wrap-input100">
    <textarea class="input100" readonly>{{pokemon.max_cp}}</textarea></div><br>
    <label>Comments:</label><br><br>
    <div class="wrap-input100">
    <textarea class="input101" readonly>{{pokemon.comments}}</textarea></div>
</div>